@media (max-width: 900px){
    .blogs-main-new{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container {
        grid-row: 2;
    }
    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-posts-container .post-container {
        max-width:  45%;
    }
    .proyects-main-container {
        grid-template-columns: 1fr ;
        grid-template-rows: 2fr;
    }
    .profile-main-container .profile-container{
        display: block;
    }
}

@media (max-width: 600px){
 
    nav {
        display: grid;
        grid-template-columns: 1fr 20px 1fr;
       
    }

    nav .title {
        visibility:hidden;
    }
    nav .nav-logo-container {
        margin-left: 30px;
    }
    
    nav .profile-link {
      
        margin-right: 44px;
        margin-bottom: 50px;
    }
    
    nav section div h1{
        visibility:hidden;
        
    }
    .contact-main-container .contact-left, .contact-right {
        
        padding: 0 7px;
    }
   
}